 .course_card_contianer {
   background-color: var(--primary-color);
   width: 17rem;
   color: white;
   display: flex;
   align-items: center;
   flex-direction: column;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   gap: 2rem;
   padding: 1rem;
   padding-bottom: 2rem;

   h3 {
     text-align: center;
   }

   p {
     text-align: center;
   }

   .course_logo {
     font-size: 4rem;
     border: 2px dotted white;
     padding: 1rem;
     border-radius: 100px;
   }
 }
