.gallery_card_container {
  width: 19rem;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

  img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
}
