.header_contianer {
  display: flex;
  align-items: center;
  padding: 1rem 10vmax 1rem 10vmax;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;

  .nav_link_container {
    ul {
      display: flex;
      gap: 2rem;

      li {
        list-style: none;

        &:hover {
          border-bottom: 1px solid white;
          transition: ease-in-out 0.2s;
        }
      }
    }
  }

  .header_end {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (max-width:960px) {
  .header_contianer {
    flex-direction: column;
    padding: 0 0 0 0;
    height: 100vh;
    justify-content: space-around;

    .nav_link_container {
      ul {
        gap: 1rem;
        flex-direction: column;
      }
    }

    .header_end {
      display: block;
    }
  }
}
