.review_card_container {
  width: 33vmax;
  min-height: 18rem;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &:hover {
    transform: rotate(3deg);
  }

  svg {
    color: white;
    font-size: 2rem;
  }

  p {
    padding: 1rem;
    overflow: hidden;
  }

  .user_info {
    display: flex;
    gap: 1rem;

    img {
      height: 70px;
      width: 70px;
      border-radius: 100px;
      padding: 2px;
      border: 2px dotted white;
    }

    .user_header {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3,
      p {
        padding: 0;
      }
    }
  }
}
