.review_card_container {
  width: 33rem;
  height: 18rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  padding: 1rem;

  svg {
    color: white;
    font-size: 2rem;
  }

  p {
    padding: 1rem;
    overflow: hidden;
  }

  .user_info {
    display: flex;
    gap: 1rem;

    img {
      height: 70px;
      width: 70px;
      border-radius: 100px;
      padding: 2px;
      border: 2px dotted white;
    }

    .user_header {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3,
      p {
        padding: 0;
      }
    }
  }
}
