.dashboard_container {
  height: 84vh;
  display: flex;
}


.sidebard_container {
  width: 20vmax;
  height: inherit;
  border-right: 1px solid #ccc;

  .sidebar_item {
    margin: 1rem 1rem 1rem 0rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0rem 10px 10px 0rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;

    svg {
      color: var(--heading-color);
    }

    a {
      color: black;
    }

    &:hover {
      background-color: var(--primary-color);
      color: white;
      transition: ease-in-out 0.3s;

      svg {
        color: white;
      }

      a {
        color: white;
      }
    }
  }
}

.right_pane {
  display: flex;
  padding: 3rem;
  gap: 300px;
}

.dashboard_card {
  width: 30rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;

  h3 {
    color: var(--heading-color);
    text-align: center;
  }

  div {
    background-color: #E9E9ED;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  div>p {
    span {
      color: green;
      margin-left: 0.3rem;
    }
  }

}
