.about_container {
  padding: 0 10vmax 0rem 10vmax;
  display: flex;
  justify-content: center;

  .about_wrapper {
    text-align: center;
    padding: 1rem;

    h1 {
      color: var(--heading-color);

      span {
        color: var(--secondary-color);
      }
    }
  }

  .card_contianer {
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
