.gallary_container {
  padding: 4rem;

  h1 {
    color: var(--heading-color);
    text-align: center;
    padding-bottom: 1rem;

    span {
      color: var(--secondary-color);
    }
  }
}

.gallary_card_wrapper {
  align-items: center;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
