.hero_contianer {
  height: 100vh;
  @include flex-center;
  background-color: var(--primary-color);
  padding: 0 10vmax 2rem 10vmax;
  color: white;

  .home_section_left {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;

    h1 {
      font-size: 3rem;
    }

    span {
      color: #F2A227;
    }
  }

  .home_section_right {
    img {
      height: 40vmax;
      width: 40vmax;
    }
  }
}

@media screen and (max-width: 960px) {
  .hero_contianer {
    flex-direction: column;
    padding: 5rem;

    .home_section_left {
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      z-index: 2;

    }

    .home_section_right {
      position: absolute;
      opacity: 50%;
      z-index: 1;
    }
  }
}
