.instagramfeed_contianer {
  height: 100vh;
  overflow-y: auto;
  text-align: center;

  .instagramfeed_wrapper {
    h1 {
      padding: 1rem;
      color: var(--secondary-color);

      span {
        color: var(--primary-color);
      }
    }

    .reel_container {
      display: flex;
      flex-wrap: wrap;
      @include flex-center;
      gap: 1rem 3rem;

      .reel_wrapper {
        width: 18rem;
        height: 24rem;
        border: 2px solid black;
      }
    }
  }
}

@media screen and (max-width:850px) {
  .reel_container {
    padding: 0 0;
    gap: 0 0;
  }

  .reel_wrapper {
    background-color: wheat;
  }
}
