@import './mixin';
@import './pages/home.scss';
@import './pages/courses.scss';
@import './pages/reviews.scss';
@import './pages/contact.scss';
@import './pages/notfound.scss';
@import './pages/gallery.scss';
@import './pages/about.scss';
@import './pages/whyus.scss';
@import './pages/admin/login.scss';
@import './pages/admin/adminsidebar.scss';
@import './pages/admin/dashboard.scss';
@import './pages/admin/studentlist.scss';
@import './pages/admin/managecourse.scss';
@import './components/header.scss';
@import './components/reviewcard.scss';
@import './components/coursecard.scss';
@import './components/miniheader.scss';
@import './components/footer.scss';
@import './components/drawer.scss';
@import './components/popup.scss';
@import './components/gallerycard.scss';
@import './components/aboutcard.scss';

:root {
  --primary-color: #004643;
  --secondary-color: #F2A227;
  --heading-color: #0F2A47
}

body {
  background-color: white;
}

.button_light {
  padding: 1rem;
  color: #116E63;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  a {
    color: inherit;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid white;
    color: white;
    transition: ease-in-out 0.3s;
  }
}

.button_dark {
  padding: 1rem;
  background-color: #F7B401;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid white;
    color: white;
    transition: ease-in-out 0.3s;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: your_color_here;
}
